---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import FirstSection from '../components/FirstSection.astro';
import SecondSection from '../components/SecondSection.astro';
import ThirdSection from '../components/ThirdSection.astro';
import FirstVideo from '../components/FirstVideo.astro';
import SecondVideo from '../components/SecondVideo.astro';
import BuySection from '../components/BuySection.astro';
import ThirdVideo from '../components/ThirdVideo.astro';
---

<Layout title="Revolution 5 PRO">
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <FirstSection />
    </div>
    <div class="snap-center">
      <SecondSection />
    </div>
    <div class="snap-center">
      <ThirdSection />
    </div>
    <div class="snap-center">
      <FirstVideo />
    </div>
    <div class="snap-center">
      <SecondVideo />
    </div>
    <div class="snap-center">
      <ThirdVideo />
    </div>
    <div class="snap-center">
      <BuySection />
    </div>
  </main>
</Layout>
