---
import Section from './Section.astro';
import { firstSectionData } from '../data/first_section.js';
---

<Section>
  <article slot="main" class="flex justify-center items-center flex-col gap-10">
    {
      firstSectionData.map((data) => {
        return (
          <>
            <h1 class="text-[42px] font-bolder">{data.title}</h1>
            <div class="flex items-center justify-center flex-col">
              <img
                class="pl-5"
                src={data.firstImg.src}
                alt="Compatible con PS5, PS4 y PC"
              />
              <img
                class="md:max-w-md lg:max-w-lg xl:max-w-2xl"
                src={data.secondImg.src}
                alt="Mando Revolution 5 PRO"
              />
            </div>
          </>
        );
      })
    }
  </article>

  <div slot="footer" class="pb-10">
    <a
      class="border-[3px] border-black font-bold backdrop-blur-sm text-sm rounded text-black px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#buysection"
    >
      COMPRAR AHORA</a
    >
  </div>

  <div
    slot="background"
    class="bg-gray-300 object-center object-cover h-full w-full"
  >
  </div>
</Section>
