---
import Section from './Section.astro';
---

<Section
  title="REVOLUTION 5 PRO"
  subtitle="Una forma revolucionaria de jugar"
  color="white"
  price="Desde 229.90 €*"
  pt="pt-16"
  textSize="text-[40px]"
  img="/testingrepo/naconlogo.svg"
>
  <div slot="footer" class="pb-10">
    <a
      class="border-[3px] backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#buysection"
    >
      COMPRAR AHORA</a
    >
    <p class="mt-2 text-gray-100 text-sm">
      * Incluye 0,08€ por la <a class="underline" href="#">ecopart</a>
    </p>
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/testingrepo/revolution5_hero.mp4"></video>
</Section>
