---
import LongSection from './LongSection.astro';
// import { thirdSectionData } from '../data/third_section.js';
---

<LongSection
  title="LA EXPERIENCIA DEFINITIVA"
  subtitle="Vive un nuevo nivel de inmersión acústica"
  color="white"
  pt="pt-5 xl:pt-20"
  textSize="text-[36px] xl:text-[40px]"
>
  <article
    slot="main"
    class="text-gray-200 flex flex-col items-center justify-center"
  >
    <div class="flex flex-col lg:flex-row justify-around gap-6 xl:gap-24 py-10">
      <div class="flex flex-col items-center justify-center">
        <img src="/testingsecond/pc1.jpg" alt="PC" />
        <p class="text-xl">800 PRO HD</p>
        <img src="/testingsecond/pc.svg" alt="PC" class="w-16 h-16 pl-5" />
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="/testingsecond/ps5.jpg" alt="PS4 & PS5" />
        <p class="text-xl">800 PRO HS</p>
        <div class="flex gap-3 flex-row items-center justify-center">
          <img src="/testingsecond/ps4.svg" alt="PS4" class="w-16 h-16" />
          <span>|</span>
          <img src="/testingsecond/ps5.svg" alt="PS5" class="w-16 h-16" />
        </div>
      </div>
      <div class="flex flex-col items-center justify-center">
        <img src="/testingsecond/xbox.jpg" alt="XBOX" />
        <p class="text-xl">800H PRO HX</p>
        <img src="/testingsecond/xbox.svg" alt="PC" class="w-16 h-16" />
      </div>
    </div>
  </article>

  <div slot="footer" class="pb-10">
    <a
      class="border-[3px] backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#buysection"
    >
      COMPRAR AHORA</a
    >
  </div>

  <div
    slot="background"
    class="bg-gradient-to-r from-zinc-950 to-zinc-900 object-center object-cover h-full w-full"
  >
  </div>
</LongSection>
