---
import Section from './Section.astro';
import { thirdSectionData } from '../data/third_section.js';
---

<Section
  title="LA EXPERIENCIA DEFINITIVA"
  subtitle="Vive un nuevo nivel de inmersión acústica"
  color="white"
  pt="pt-5 xl:pt-20"
  textSize="text-[36px] xl:text-[40px]"
>
  <article
    slot="main"
    class="text-gray-200 flex flex-col items-center justify-center"
  >
    <div
      class="hidden xl:flex w-sm w-3/4 flex-col md:flex-row justify-around gap-6 xl:gap-24"
    >
      <img src="/testingsecond/pc1.jpg" alt="" />
      <img src="/testingsecond/ps5.jpg" alt="" />
      <img src="/testingsecond/xbox.jpg" alt="" />
    </div>
  </article>

  <div slot="footer" class="pb-10">
    <a
      class="border-[3px] backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#buysection"
    >
      COMPRAR AHORA</a
    >
  </div>

  <img
    slot="background"
    src={thirdSectionData.background}
    class="object-center object-cover h-full w-full"
  />
</Section>
