---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74162304-2"
  ></script>

  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-74162304-2');
  </script>
  <!-- Start of HubSpot Embed Code -->

  <script
    type="text/javascript"
    id="hs-script-loader"
    async
    defer
    src="//js-eu1.hs-scripts.com/24977814.js"></script>

  <!-- End of HubSpot Embed Code -->

  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/testingsecond/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <body>
    <slot />
  </body>
</html>
